/* Theme colors */
.gray { color: #3b4447; }
.blue { color: rgb(33, 75, 184); }
.red { color: #bf2222; }
.orange { color: #E84A0C; }

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-size: 12pt;
  background-color: #bf2222;
  font-family: 'Raleway', helvetica, arial, sans-serif;
}

div#page-full {
  height: 100%;
}
div#vertical-align {
  padding-top: 10%;
}

.shadow {
  text-shadow: 0 1px 0 #000;
}

h1.blank {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: #fff;
  line-height: 50px;
}

p.blank {
  line-height: 25px;
  font-family: 'Raleway', helvetica, arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}

.btn-cr {
  background-color: #2C83BF;
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
}


/* Menu superior */
nav.navbar.navbar-inverse.navbar-fixed-top {
  border-top: 1px solid #2d3235;
  border-bottom: 0;
  text-shadow: 0 1px 0 #000;
  background: #3b4447;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  z-index: 1000;
}
/* Link menu superior */
nav.navbar.navbar-inverse.navbar-fixed-top a{
  color: #fff;
}
#navbar-phone a{
  font-size: 1.1rem;
}
#navbar-right a{
  border-left: 5px solid #3b4447;
  font-family: 'Oxigen', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
}
#navbar-right a:hover {
  background-color: #2d3235;
}
#navbar-right .active > a {
  background-color: #E84A0C;
}

/* Menu emergente */
a.dropdown-toggle:hover{
  background-color: #E84A0C;
}
ul.dropdown-menu {
  background-color: #3b4447;
}
/* Logo */
nav.navbar.navbar-inverse.navbar-fixed-top a.navbar-brand {
  font-family: 'Fredoka One', cursive;
  text-shadow: 0 1px 0 #000;
  font-size: 2rem;
  font-weight: 100;
}
